#include "keys_ru.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define L_GAME    0
#define L_WORKMAN 1
#define L_RU      2
#define L_NAV     3
#define L_SYM     4

/ {
    macros {
        // Макросы переключения базовых слоев с посылом F13/F14/F15 для AHK
        go_game: go_game {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_GAME &kp F13>;
        };

        go_workman: go_workman {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_WORKMAN &kp F14>;
        };

        go_ru: go_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to L_RU &kp F15>;
        };
    };

    behaviors {
        // Hold-Tap для Навигации на пробеле
        nav_spc: nav_spc {
            compatible = "zmk,behavior-hold-tap";
            label = "NAV_SPC";
            bindings = <&mo L_NAV>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
        };

        // Hold-Tap для Символов на Enter
        sym_ent: sym_ent {
            compatible = "zmk,behavior-hold-tap";
            label = "SYM_ENT";
            bindings = <&mo L_SYM>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
        };

        // Mod-Morphs для символов
        minus_plus: minus_plus {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_PLUS";
            bindings = <&kp MINUS>, <&kp PLUS>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        quotes: quotes {
            compatible = "zmk,behavior-mod-morph";
            label = "QUOTES";
            bindings = <&kp SQT>, <&kp DOUBLE_QUOTES>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        div_mul: div_mul {
            compatible = "zmk,behavior-mod-morph";
            label = "DIV_MUL";
            bindings = <&kp SLASH>, <&kp ASTERISK>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* -------------------------------------------------------------------------------------------------
         * LAYER 0: GAME (Стандартный QWERTY, чистый Space на левом пальце, переход в Workman справа)
         * ------------------------------------------------------------------------------------------------- */
        game_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T                      &kp Y  &kp U  &kp I     &kp O   &kp P    &kp BSPC
&kp CAPS   &kp A  &kp S  &kp D  &kp F  &kp G                      &kp H  &kp J  &kp K     &kp L   &kp SQT  &kp ENTER
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &none                      &none  &kp B  &kp N     &kp M   &kp RSHFT &go_workman
                  &kp QUESTION &kp EXCL                          &kp DOT &kp COMMA
                  &kp CARET &kp SPACE &mo L_NAV                  &none &kp ENTER &none
            >;
        };

        /* -------------------------------------------------------------------------------------------------
         * LAYER 1: WORKMAN (Твоя точная раскладка со скриншота!)
         * ------------------------------------------------------------------------------------------------- */
        workman_layer {
            bindings = <
&kp ESC    &kp Q  &kp D  &kp R  &kp W  &none                      &none  &kp F  &kp U     &kp P   &kp J    &kp BSPC
&kp CAPS   &kp A  &kp S  &kp H  &kp T  &kp G                      &kp Y  &kp N  &kp E     &kp O   &kp I    &none
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &none                      &none  &kp M  &kp L     &kp B   &lt L_NAV K &kp RSHFT
                  &kp QUESTION &kp EXCL                          &kp DOT &kp COMMA
                  &kp CARET &nav_spc L_NAV MINUS &mo L_SYM        &none &sym_ent L_SYM ENTER &go_ru
            >;
        };

        /* -------------------------------------------------------------------------------------------------
         * LAYER 2: RUSSIAN (Русский ЙЦУКЕН)
         * ------------------------------------------------------------------------------------------------- */
        russian_layer {
            bindings = <
&kp ESC    &kp RU_Y  &kp RU_C  &kp RU_U  &kp RU_K  &kp RU_E        &kp RU_N  &kp RU_G  &kp RU_SH &kp RU_SHCH &kp RU_Z &kp BSPC
&kp CAPS   &kp RU_F  &kp RU_YI &kp RU_V  &kp RU_A  &kp RU_P        &kp RU_R  &kp RU_O  &kp RU_LD &kp RU_ZHE &kp RU_E_OT &kp ENTER
&kp LSHFT  &kp RU_YA &kp RU_CH &kp RU_SM &kp RU_I  &kp RU_T        &kp RU_SF &kp RU_B  &kp RU_YU &none      &none    &go_workman
                     &kp QUESTION &kp EXCL                      &kp DOT   &kp COMMA
                     &kp CARET &nav_spc L_NAV SPACE &mo L_SYM    &none &sym_ent L_SYM ENTER &go_workman
            >;
        };

        /* -------------------------------------------------------------------------------------------------
         * LAYER 3: NAV (Навигация + отправка F16 для AHK)
         * ------------------------------------------------------------------------------------------------- */
        nav_layer {
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans &none    &none    &kp PG_UP &kp UP   &kp PG_DN &trans   &sys_reset
&trans     &kp HOME     &kp UP       &kp END      &trans &none    &kp F16  &kp LEFT  &kp DOWN &kp RIGHT &trans   &trans
&trans     &kp LEFT     &kp DOWN     &kp RIGHT    &trans &none    &none    &kp HOME  &trans   &kp END   &trans   &trans
                        &kp C_VOL_DN &kp C_VOL_UP                         &trans    &trans
                        &trans &trans &trans                              &mkp LCLK &mkp RCLK &mkp MCLK
            >;
        };

        /* -------------------------------------------------------------------------------------------------
         * LAYER 4: SYM (Символы C#/C++ + отправка F17 для AHK)
         * ------------------------------------------------------------------------------------------------- */
        sym_layer {
            bindings = <
&trans     &kp LBRC  &kp RBRC  &kp LPAR  &kp RPAR  &kp GRAVE       &div_mul  &kp N7    &kp N8    &kp N9    &minus_plus &kp F12
&trans     &kp LBKT  &kp RBKT  &kp LT    &kp GT    &kp TILDE       &kp EQUAL &kp N4    &kp N5    &kp N6    &quotes   &trans
&trans     &kp BSLH  &kp PIPE  &kp AMPS  &kp EXCL  &kp HASH        &kp F17   &kp N1    &kp N2    &kp N3    &kp N0    &trans
                     &trans    &trans                                        &trans    &trans
                     &trans    &trans    &trans                              &trans    &trans    &trans
            >;
        };
    };
};
